debug: on
port: 8888
engine:
  name: imagick
  save_path: ./images
lua:
  load_path: ./scripts
auth:
  close: false
  type: basic
  user: test
  pwd: test
cache:
  type: memory
  brockers:
    - addr: 127.0.0.1
      port: 11211
